$primary-color: #333;
$secondary-color: #0073a8;

$warning-brown: #fff1e8;

$gray-98: #f3f3f3;
$gray-95: #EDEDED;
$gray-90: #E3E3E3;
$gray-85: #D9D9D9;
$gray-80: #CCCCCC;
$gray-75: #C0C0C0;
$gray-70: #B0B0B0;
$gray-60: #999999;
$gray-50: #808080;
$gray-45: #727272;
$gray-40: #696969;
$gray-30: #4D4D4D;
$gray-20: #363636;
$gray-15: #222222;
$gray-10: #171717;
$black: #000000;
$white: #ffffff;
